@import "css/fonts.css";
@import "css/variables.css";
@import "css/reset.css";

/*styles*/
:root {
  --color-background: var(--color-lm-background-150);
  --color-text: var(--color-lm-text-900);
  --color-elements: var(--color-lm-elements-100);
  --color-input: var(--color-dm-input-300); /***/
  --font-weight: var(--font-lm-weight-600);
  --border-radius: 5px;
  --box-shadow: 0px 0px 1rem hsla(0, 0%, 0%, 0.1);
}

/*toggled by js*/
.dark-mode {
  --color-background: var(--color-dm-background-800);
  --color-text: var(--color-dm-text-100);
  --color-elements: var(--color-dm-elements-700);
  --color-input: var(--color-dm-input-300);
  --font-weight: var(--font-dm-weight-300);
}

/*body*/
body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  width: 100%;
  font-size: 14px;
  flex-shrink: 0;
}

/*header*/
header {
  background-color: var(--color-elements);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  align-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
}
h1 {
  flex-grow: 1;
  overflow: hidden;
}
header div.dark-mode-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header div.dark-mode-toggle img.moon-image {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
header div.dark-mode-toggle button#DMBut {
  background-color: var(--color-elements);
  color: var(--color-text);

  font-family: Nunito Sans;
  border-width: 0px;
  font-weight: var(--font-weight);
  font-size: 14px;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main div.search-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
main div.search-element {
  width: 100%;
  padding: 1.5rem;
}
main div.search-element div.search {
  display: flex;
  flex-direction: row;
  background-color: var(--color-elements);
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--box-shadow);
}
main div.search-element div.search img.search-image {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  margin-inline: 2rem;
  flex-shrink: 0;
}
main div.search-element div.search input#text {
  border: 0;
  width: 100%;

  background-color: var(--color-elements);
  color: var(--color-text);
}
main div.search-element div.search input#text[type="text"]::placeholder {
  /* color: var(--color-text); */
  position: static;
}
/*used stack overflow*/
main div.search-element div.search input#text::placeholder {
  color: var(--color-lm-text-900);
}
/*used stack overflow*/
body.dark-mode main div.search-element div.search input#text::placeholder {
  color: var(--color-dm-text-100);
}
main div.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
}
main div.filter div.dropdown {
  align-self: flex-start;
  padding: 1.5rem;
  width: 51%;
}

/*custom dropdown edited preset from stack overflow*/
.custom-dropdown {
  /* The container for the dropdown */
  margin-left: 1.5rem;
  position: relative;
  width: 43.5%; /* Matches the width of the dropdown button */
  box-shadow: var(--box-shadow);
}
.dropdown-btn {
  /* Button styles */
  width: 100%;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0rem;
  padding-left: 2rem;
  background-color: var(--color-elements);
  color: var(--color-text);
  text-align: left;
  border: 0;
  border-radius: var(--border-radius);
  font-family: inherit;
}
.dropdown-btn:after {
  /* Custom arrow for the dropdown button */
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  border: 6px solid transparent;
  border-color: var(--color-text) transparent transparent transparent;
}
.dropdown-list {
  /* The dropdown list */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.3rem;
  background-color: var(--color-elements);
  list-style-type: none;
  z-index: 10;
  width: 100%;
  border-radius: var(--border-radius);
}
.custom-dropdown .dropdown-list.active {
  /* Show the dropdown list when active */
  display: block;
}
.dropdown-list li {
  /* Dropdown list items */
  padding-left: 1rem;
  padding-top: 1rem;

  color: var(--color-text);
}
.dropdown-list li:last-child {
  padding-bottom: 1rem;
}
.dropdown-list {
  /* Ensure the dropdown list doesn't overflow */
  max-height: 250px;
  overflow-y: auto;
}
/*country blocks*/
.Countries-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 70%;
  border-radius: 0.5rem;
  background-color: var(--color-elements);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}
.country-block.img {
  overflow: hidden;
}
div.filter {
  margin-bottom: 2.25rem;
}
.country-block div {
  padding-top: 1rem;
  padding-left: 2rem;
}
.country-block div :first-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.country-block div :not(:first-child) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.country-block div :last-child {
  padding-bottom: 1.75rem;
}
.country-name {
  font-weight: bold;
}
div p span.info-span {
  font-weight: 600;
}
@media (min-width: 376px) {
  main div.search-filter {
    width: 100%;
    flex-direction: row;
  }
  main div.search-element {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
  }
  main div.search-element div.search {
    max-width: 40rem;
    width: 100%;
    margin-left: 1rem;
  }
  main div.custom-dropdown {
    max-width: 12.5rem;
    margin: 1.5rem;
    right: 1rem;
    position: absolute;
  }

  .Countries-blocks {
    width: 100%;
    margin-inline: 6rem;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .country-block {
    height: 27rem;
    width: 22rem;
  }
  .countryFlag {
    max-height: 50%;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) {
  main div.search-element div.search {
    max-width: 40rem;
    width: 100%;
    margin-left: 6rem;
  }
  main div.custom-dropdown {
    max-width: 12.5rem;
    margin: 1.5rem;
    right: 5.5rem;
    position: absolute;
  }
}
